.container {
    display: flex; 
    display: flex;
    align-items: stretch;
    background-color: #cdcdcd;
    flex-wrap: wrap; /* atau nowrap atau wrap-reverse */
    width: 570px;
    height: 280px;
    align-items: flex-start;
}

.container div {
    background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    flex-grow: 1;
}

.container div.dua { 
    flex-grow: 2;
    align-self: flex-end; 
}
